PROJECT_ID=[YOUR_PROJECT_ID]
REGION=[YOUR_REGION]
INDEX_ENDPOINT_ID=[YOUR_INDEX_ENDPOINT_ID]
DEPLOYED_INDEX_ID=[YOUR_DEPLOYED_INDEX_ID]
BQ_TABLE=market_kurly.products
GEMINI_API_KEY=[YOUR_GEMINI_API_KEY]
